RewriteEngine on

#ErrorDocument 404 http://localhost/mylocalhook/

DirectoryIndex default.php

#Other Support
RewriteRule qrcode/([^/]+)$ backend/php/dac/controller.display.qrcode.php?qrContent=$1 [NC,L]

# App
RewriteRule app/howItWorks app-howItWorks.php [NC,L] 
RewriteRule app/pricing  app-pricing.php [NC,L]
RewriteRule app/signup app-signup.php [NC,L]
RewriteRule app/matchCalculator app-matchCalculator.php [NC,L]
RewriteRule app/browseMatrimony app-browseMatrimony.php [NC,L]
RewriteRule app/user/([^/]+)$ app-userprofile.php?1=$1 [NC,L]

# Customer Accounts
RewriteRule customer/myprofile backend/users_customers/myprofile.php [NC,L]

RewriteRule customer/dashboard customer-dashboard.php [NC,L]
RewriteRule customer/create-new-profile customer-profile-create.php [NC,L]
RewriteRule customer/my-match-profiles  customer-matchprofiles.php [NC,L]

RewriteRule customer/matchprofiles customer-matchprofiles.php [NC,L]
RewriteRule customer/favourites customer-favourites.php [NC,L]
RewriteRule customer/cart customer-cart.php [NC,L]
RewriteRule customer/editprofile/([^/]+)$ customer-editprofile.php?1=$1 [NC,L]

# Admin Accounts
RewriteRule admin/home administrator-default.php [NC,L]
RewriteRule admin/dashboard administrator-dashboard.php [NC,L]

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt\.map\.ttf)$ [NC]

RewriteRule ([^/]+)/styles/([^/]+)$ styles/$2 [NC,L]
RewriteRule ([^/]+)/styles/([^/]+)/([^/]+)$ styles/$2/$3 [NC,L]

RewriteRule ([^/]+)/datatables/js/([^/]+)$ backend/vendor/datatables/js/$2 [NC,L]
RewriteRule ([^/]+)/bootstrap/js/([^/]+)$ backend/vendor/bootstrap/js/$2 [NC,L]
RewriteRule ([^/]+)/dist/js/([^/]+)$ backend/dist/js/$2 [NC,L]

RewriteRule ([^/]+)/js/([^/]+)$ js/$2 [NC,L]
RewriteRule ([^/]+)/js/([^/]+)/([^/]+)$ js/$2/$3 [NC,L]
RewriteRule ([^/]+)/js/([^/]+)/([^/]+)/([^/]+)$ js/$2/$3/$4 [NC,L]


RewriteRule ([^/]+)/admin/([^/]+)$ admin/$2 [NC,L]
RewriteRule ([^/]+)/admin/([^/]+)/([^/]+)$ admin/$2/$3 [NC,L]
RewriteRule ([^/]+)/admin/([^/]+)/([^/]+)/([^/]+)$ admin/$2/$3/$4 [NC,L]
RewriteRule ([^/]+)/images/([^/]+)$ images/$2 [NC,L]
RewriteRule ([^/]+)/images/([^/]+)/([^/]+)$ images/$2/$3 [NC,L]
RewriteRule ([^/]+)/fonts/([^/]+)$ fonts/$2 [NC,L]


